.cell-normal {
    stroke: #000000;
    stroke-width: 1;
    fill: #eeffff;
}

.cell-cursor {
    stroke: #000000;
    stroke-width: 4;
    fill: #f2fffe;
}

.instruction-pointer-active {
    opacity: 1.0;
    stroke: #000000;
    stroke-width: 1;
    fill: #eef4ff;
}

.text-node {
    stroke: #001122;
    stroke-width: 1;
    fill: #001122;
    font-size: 20pt;
}
